@font-face {
    font-family: 'Belligerent-Madness';
    src:url('../font/webfonts_Belligerent-Madness/Belligerent-Madness.ttf.woff') format('woff'),
        url('../font/webfonts_Belligerent-Madness/Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
        url('../font/webfonts_Belligerent-Madness/Belligerent-Madness.ttf.eot'),
        url('../font/webfonts_Belligerent-Madness/Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1.5rem;
}

.main-font-family {
    font-family: 'Belligerent-Madness' !important;
}

.max-width-50 {
    max-width: 50px;
}

.min-height-50vh {
    min-height: 50vh !important;
}

/* MAIN MENU */
.nav-link {
    font-size: 1.2rem;
    color: rgb(143,91,251) !important;
    font-weight: bold;
    transition: color .2s;
}
.nav-link:hover {
    color: rgb(191,116,118) !important;
    transition: color .2s;
}
.nav-link {
    position: relative;
}
.active::after{
    content: "";
    display: block;
    width: 100%;
    max-width: 100px;
    height: 12px;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(191,116,118) !important;
    opacity: .4;
    border-radius: 4px;
    z-index: -1;
    transition: all ease-in .2s;
}

/* ARTICLE CARDS HOME-PAGE */

.bg-title-cards-home {
    padding-top: 15px;
    border-radius: 4px 4px 0 0 !important;
    background: rgb(143,91,251);
    background: linear-gradient(280deg, rgba(143,91,251,1) 0%, rgba(191,116,118,1) 100%);
}

.modal-header {
    background: rgb(143,91,251);
    background: linear-gradient(280deg, rgba(143,91,251,1) 0%, rgba(191,116,118,1) 100%);
}

.bg-title-cards-home > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}

.card-img-top {
    border-radius: 0 0 0 0 !important;
}

#select-number-of-items-to-add-to-cart {
    width: 50px;
}

.card-link > a:hover {
 color: #82448f !important;
 text-decoration: underline !important;
}

/* PAGE DETAILS D'UN ARTICLE */
.main-background-color {
    background-color: rgb(143,91,251) !important;
    color: #fff;
    transition: all ease-in .2s;
}

.cartBtnHover:hover {
    background-color: rgb(191,116,118) !important;
    color: #000;
    font-weight: bold;
    transition: all ease-in .2s;
}

/* PAGE PANIER*/
#delete-article {
    cursor: pointer;
    font-weight: bold;
    color: crimson;
    font-size: 1rem;
    transition: font-size .1s;
    
}
#delete-article:hover {
    font-size: 1.3rem;
    transition: font-size .1s;
}

/* -------------------- */

@media screen and (max-width: 991px) {
    .img-page-article {
        width: 100% !important;
    }
}