.bg-title-cards-home {
    padding-top: 15px;
    border-radius: 4px 4px 0 0 !important;
    background: rgb(143,91,251);
    background: linear-gradient(280deg, rgba(143,91,251,1) 0%, rgba(191,116,118,1) 100%);
}

.bg-title-cards-home > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}

.card-img-top {
    border-radius: 0 0 0 0 !important;
}