<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orinoco - Accueil</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="../../css/bootstrap5.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1 class="container text-center">Accueil ORINOCO</h1>
    <div class="d-flex flex-wrap justify-content-around hey"></div>
    
    
    
    <script src="../../js/bootstrap5.bundle.min.js"></script>
    
    <script src="../../js/article.js"></script>
    <script src="./home.js"></script>
</body>
</html>